PORT=9000
POSTGRES_HOST=db.nlyvjwwodgojrjecegjo.supabase.co
POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_TEST_DB=Cyber_test
POSTGRES_USER=postgres
POSTGRES_PASSWORD=NOor0123@#123
POSTGRES_SSL=require
TOKEN_SECRET=noor_secret_123
BCRYPT_PASSWORD=noor_pepper
SALT_ROUNDS=10
ENV=dev
SUPABASE_URL=https://nlyvjwwodgojrjecegjo.supabase.co
SUPABASE_ANON_KEY=your_supabase_anon_key_here
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key_here
EMAIL_USER=jadanoorfaris@gmail.com
EMAIL_PASSWORD=NOor0123
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
FRONTEND_URL=http://localhost:5173
